@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
.mainWorkArea {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0;
  padding-left: 100px;
  background: #f3f7fa;
}
.logoSection {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
.contenArea {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: self-end;
}
.currencyTabWrapper {
  padding: 10px;
}
.subHeader--hops {
  padding: 0 10px;
}
.leftMenu {
  width: 200px;
  margin-right: 20px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 5px gainsboro;
}
.ticetsWrapper {
  display: flex;
  flex-direction: column;
  width: 600px;
}
.subHeader {
  margin-bottom: 5px;
  font-size: 16px;
}
.currencyButton {
  width: 33%;
  height: 30px;
  background: none;
  border: 1px solid #2196f3;
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
  color: #2196f3;
  transition: 0.5s ease;
}
.currencyButton:hover {
  background: rgba(33, 150, 243, 0.1);
}
.currencyButton-active {
  background: #2196f3;
  color: #fff;
}
.currencyButton-active:hover {
  background: #2196f3;
}
.currencyButton-first {
  border-radius: 10px 0 0 10px;
}
.currencyButton-last {
  border-radius: 0 10px 10px 0;
}
.hopsInputs {
  display: flex;
  width: 100;
  padding: 10px;
  transition: 0.5s ease;
  align-items: center;
}
.hopsInputs div:last-child {
  margin-left: auto;
}
.hopsInputs:hover {
  background: rgba(33, 150, 243, 0.1);
}
.hopsInput {
  position: absolute;
  opacity: 0;
}
.hopsInput + label {
  position: relative;
  cursor: pointer;
  padding: 0;
  bottom: 2px;
}
.hopsInput + label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: white;
  border: 1px solid #2196f3;
  border-radius: 5px;
}
.hopsInput:checked + label:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 9px;
  background: #2196f3;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 #2196f3, 4px 0 0 #2196f3, 4px -2px 0 #2196f3, 4px -4px 0 #2196f3, 4px -6px 0 #2196f3, 4px -8px 0 #2196f3;
  transform: rotate(45deg);
}
.onlyOneButton {
  cursor: pointer;
  color: #2196f3;
  text-transform: uppercase;
}
.ticket {
  display: flex;
  justify-content: space-between;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 5px gainsboro;
  margin-bottom: 20px;
}
.ticket__leftPart {
  padding: 20px;
  border-right: 1px solid gainsboro;
  text-align: center;
}
.ticket__rightPart {
  width: 100%;
  padding: 20px;
}
.buyButton {
  width: 158px;
  height: 55px;
  border: none;
  border-radius: 10px;
  background: #ff6d00;
  box-shadow: inset 0 -1px #994100;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: 0.5s ease;
  outline: none;
  margin-top: 20px;
}
.buyButton:hover {
  background: #ff8a33;
}
.ticket__timeLine {
  display: flex;
  justify-content: space-between;
}
.ticket__time {
  font-size: 40px;
}
.hopsCount {
  color: #dcdfdf;
  text-transform: uppercase;
}
.hopsCount::after {
  content: "";
  display: block;
  position: absolute;
  width: 136px;
  height: 20px;
  margin-left: -9px;
  background: url('/src/assets/planeAnderline.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.ticket__destinationLine {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 950px) {
  .mainWorkArea {
    padding: 20px;
  }
  .leftMenu {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }
  .ticetsWrapper {
    width: 100%;
  }
}
@media (max-width: 650px) {
  .ticket {
    flex-wrap: wrap-reverse;
  }
  .ticket__leftPart {
    border: none;
    width: 100%;
  }
  .buyButton {
    display: block;
    margin: 0 auto;
  }
}
@media (max-width: 450px) {
  .mainWorkArea {
    padding: 5px;
  }
  .ticket__time,
  .hopsCount,
  .ticket__place,
  .ticket__date {
    font-size: 14px;
  }
  .hopsCount::after {
    display: none;
  }
}
